/* About.css */
* {
    margin: 0;
    padding: 0;
}
  
.aboutSction {
    background-color: white;
    padding: 2rem;
}
  
.verticalTitulo {
    font-size: 3rem;
    color: #000000;
    letter-spacing: 20px;
}

.tituloTecnlogiasFerramentas {
    font-size: 3rem;
    color: #000000;
    letter-spacing: 10px;
}
  
.card-header {
    background-color: #333;
    font-weight: bold;
}

/* Carrosel */
.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  margin: 10px 50px;
  max-width: 80px;
  max-height: 80px;
  transition: transform 0.3s, filter 0.3s;
}

.logo-icon.grayscale {
  filter: grayscale(100%);
}

.logo-icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* Estilos do Slick Carousel */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  bottom: 10px; /* Posiciona as bolinhas no fundo do carrossel */
  z-index: 10;
  display: flex;
  justify-content: center;
  
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  background-color: transparent;
  border: none;
}

.slick-dots li button:before {
  font-size: 16px;
  /* color: #ff0000; */
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  /* color: #ff0000; */
  font-size: 10px;
}