/* About.css */
* {
    margin: 0;
    padding: 0;
}
  
.aboutSction {
    background-color: white;
    padding: 2rem;
}
  
.verticalTitulo {
    font-size: 3rem;
    color: #000000;
    letter-spacing: 20px;
}

.tituloTecnlogiasFerramentas {
    font-size: 3rem;
    color: #000000;
    letter-spacing: 10px;
}
  
.card-header {
    background-color: #333;
    font-weight: bold;
}

.carousel-tecnologias {
  overflow: hidden;
  width: 100%; /* Ajuste conforme necessário */
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo-icon {
  width: 80px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  margin: 0 20px;
  transition: filter 0.3s ease; /* Transição suave para o efeito de cor */
}

.grayscale {
  filter: grayscale(100%); /* Deixa a imagem em preto e branco */
}

/* Animação contínua */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Ajuste para metade do conteúdo duplicado */
  }
}